ul {
    width: 50%;
    height: 2cm;
    padding: 1cm 0 0 0;
    border: 20px dotted green;
    text-align: center;
}

li {
    background-color: lightseagreen;
    height: 1cm;
    padding: 3mm;
    margin-top: -20px;
    padding-bottom: 0;
    text-align: center;
    display: inline-block;
    text-align: center;
}